<div *ngIf="!joueur" class="connection">
  <p>Qui joue ?</p>
  <p (click)="joueur='Charles';connect()">Charles</p>
  <p (click)="joueur='Manon';connect()">Manon</p>
</div>

<div class="container" *ngIf="hasParam()" >
  <div *ngFor="let action of actions" class="bloc" (click)="openPopup(action)" [class.completed]="action.completed" [class.manon]="action.completed&&action.prenom=='Manon'" [class.charles]="action.completed&&action.prenom=='Charles'" [class.ma]="action.prenom=='Manon'" [class.cha]="action.prenom=='Charles'">
    <p>{{action.prenom.charAt(0).toUpperCase() + action.prenom.slice(1)}}</p>
    <p *ngIf="joueur!=action.prenom||action.completed">{{action.action.charAt(0).toUpperCase() + action.action.slice(1)}}</p>
  </div>
</div>

<button *ngIf="actions.length==0" (click)="goToSite()">Avoir les données</button>

<div class="overlay" *ngIf="popupVisible" (click)="closePopup($event)">
  <div class="popup" (click)="$event.stopPropagation()">
    <p>Valider l'accomplissement de <b>{{ selectedItem.prenom }} {{selectedItem.action}}</b> ?</p>
    <button (click)="validate()">Valider</button>
    <button (click)="popupVisible = false">Annuler</button>
  </div>
</div>